/*body*/

center {
  margin-left:auto;
  margin-right:auto;
  max-width:980px
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

/*Navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: Yu Gothic;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover {
  display: block;
  color: rgb(166, 231, 36);
  text-align: center;
  padding: 15px 20px;
  text-decoration: line-through; 
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: white;
}

.ascii-art2 {
  font-family: monospace;
  white-space: pre;
  color: black;
}

.animate_ascii {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    yellowgreen 0%,
    rgb(166, 231, 36) 29%,
    green 67%,
    black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

nav {
  min-height:66px;
}

.nav_logo {
  display: inline-block;
  vertical-align: center;
  height: 24px;
  width: 24px;
  padding: 0px 30px;
}

/*image*/
.image-container {
  max-width: 5000px;
  padding: 0px 0px 4px 0px;
  position: relative;
  margin: auto;
}

.string-highlight{
  color: rgb(166, 231, 36);
  text-shadow: 2px 2px 5px yellowgreen;
}

#typewriter{
  font-size: 2vw;
  margin: 0;
  font-family: "Yu gothic";
  position: absolute;
  bottom: 20px;
  left: 5px;
  width: 100%;
  text-align: left;

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


/*Writers Section*/

.writers-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

.writers_header {
  color: black;
  font-size: 20px;
  padding: 0px 0px 14px 0px;
  width: 100%;
  text-align: center;
  position: relative;
}

.column {
  float: left;
  width: 33.33%;
  padding: 4px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  vertical-align: center;
}

/*writers images*/

.writers-images-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
  padding: 50px 0px 0px 0px;
}

.HTB-image {
  padding: 0px 0px 0px 0px;
  left: 200;
  position: absolute;
  margin: auto;
  vertical-align: right
}

/*articles Section*/

.article-container {
  max-width: 5000px;
  background-color: white;
  position: relative;
  margin: auto;
}

.column_articles {
  float: left;
  width: 30.33%;
  padding: 1px;
  padding: 7px 20px 7px 7px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article_text {
  color: black;
  font-size: 12px;
  padding: 0px 0px 14px 0px;
  width: 100%;
  text-align: center;
  position: relative;
}

.article_header {
  color: rgb(166, 231, 36);
  font-size: 12px;
  padding: 0px 0px 14px 0px;
  width: 100%;
  text-align: center;
  position: relative;
  text-decoration: line-through;
}

/*breakup Section*/

.breakup-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

/*contact us section*/

.contact-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
  padding: 50px 0px 10px 0px;
}


.contact_grey_text {
  color: #9fa3ab;
  font-size: 10px;
  padding: 10px 10px 10px 20px;
  width: 100%;
  text-align: left;
  position: absolute;
}

.input-feild{
  padding: 20px 50px 20px 30px;
  border: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.input-feild2{
  padding: 20px 50px 20px 30px;
  border: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.button-img {
  width: 10px;
  margin: 3px;
  text-align: center;
  position: relative;
  padding: 0px 0px 0px 0px;

}



/*google maps*/

.map-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
  padding: 0px 0px 0px 0px;
}

/*footer*/

.footer-container {
  max-width: 5000px;
  max-height: 300px;
  position: absolute;
  margin: auto;
  padding: 0px 0px 0px 0px;
}

/*other*/ 

.box666 {
  width: 170px;
  border: 15px solid black;
  padding: 0px;
  margin: 0px;
  text-align: center;
  position: relative;
  box-shadow:0 0 15px 7px rgba(0,0,0,0.06);
}

.box0 {
  border: 2px solid rgb(166, 231, 36);
}

.box0:hover {
  border: 2px solid rgb(166, 231, 36);
  box-shadow:0 0 15px 7px rgba(0,0,0,0.06);
}

