/*body*/

center {
  margin-left:auto;
  margin-right:auto;
  max-width:980px
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

/*Navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: Yu Gothic;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: line-through; 
}

nav {
  min-height:66px;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: white;

/*Image*/

* {box-sizing:border-box}

.slideshow-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

.Slides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

* {box-sizing:border-box}

.image-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

.text {
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  position: relative;
  bottom: 12px;
  width: 100%;
  text-align: center;
}

.caption_text {
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  position: relative;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

/*Writers info*/

.writers-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

.writers_date {
  color: gray;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.writers_names {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.column {
  float: left;
  width: 33.33%;
  padding: 4px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  vertical-align: center;
}

.box666 {
  width: 300px;
  border: 15px solid black;
  padding: 7px;
  margin: 5px;
  text-align: center;
}

/*breakup*/

.breakup-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

/*article*/

.article-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

.article-text {
  color: black;
  font-size: 18px;
  padding: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*footer*/

.footer-container {
  max-width: 5000px;
  max-height: 300px;
  position: absolute;
  margin: auto;
}

/*other*/ 

.box666 {
  width: 2000px;
  height: 1000px;
  border: 15px solid black;
  padding: 7px;
  margin: 5px;
  text-align: center;
}

.box0 {
  width: 300px;
  border: 15px solid #ffe6ff;
  padding: 50px;
  margin: 20px;
  text-align: center;
}